*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;

}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 200px;
}
h1{
    font-size: 3rem;
    margin: 5rem;

}
h2{
    font-size: 2rem;
}