*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;

}
a img{
    margin-top: 2rem;
    width: 5rem;
    margin-left: 13.5rem;
}
.container{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    width: 180px;
}
h1{
    font-size: 3rem;
    margin: 3rem;

}
h2{
    font-size: 2rem;
}
@media screen and (max-width: 414px){
    body{
        display: flex;
        flex-direction: column;
        zoom: 35%;
    }
    img{
        font-size: 1rem;
    }
    
}